$primary: #620000;
$primary_b: #620000;
$secondary: #e2d1b2;
$text: #dabdaa;

$gameOnBorder: #00ffff;
$red_false_icon: rgba(255, 255, 255, 0.2);
$red_false: rgba(255, 255, 255, 0.2);
$red_true_icon: rgba(255, 255, 255, 0.2);
$red_true: rgba(255, 255, 255, 0.3);

$cerc_verde: #09324d;
$check: #f5f8a0;
$chocolate: #d2691e;
$chocolateRGBA: rgba(210, 105, 30, 0.3);
$circ_stroke: #59cfd6;
$cyan: #00ffff;
$darkblue: #00008b;
$deepskyblue: #00bfff;
$dimgray: #696969;
$en_touto_nika_r: #670001;
$en_touto_nika_red: #921718;
$en_touto_nika_y: #f0da45;
$gr_brown_light: #ae4444;
$gr_brown_lighter: #ece3e3;
$gr_brown: #ad3333;
$gr_gold_light: #faf4cc;
$lightblue: #add8e6;
$lightcyan: #e0ffff;
$lightgray: #d3d3d3;
$lightseagrean: #fffff0;
$lightskyblue: #87cefa;
$lightyellow: #ffffe0;
$maroon_light: #882222;
$moccasin_light_rgba: rgba(255, 244, 223, 0.5);
$moccasin: #ffe4b5;
$ola1: #25689c;
$ola2: #f0f393;
$ola3: #7fe8ee;

$red: #ffffff;
$sandybrown: #f4a460;
$silver: #c0c0c0;
$steelblue: #4682b4;
