@import "../../colors/colors.scss";
@import "../../config/config.scss";

.info {
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-text {
  width: 50rem;
  font-size: 1.9rem;
  font-family: $tahoma;
  color: $text;
  padding: 2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#link {
  margin-top: 2rem;
}

.phone-screen {
  display: none;
}

@media screen and (min-width: 1100px) {
  .footer-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .info-text {
    display: flex;
    flex: 2;
    flex-direction: column;
  }

  .phone-screen {
    display: flex;
    flex: 1;
    align-self: center;
    margin: 20px;
    border-radius: 25px;
  }
}
