@import "../../colors/colors.scss";
@import "../../config/config.scss";

h2 {
  font-size: larger;
  font-style: oblique;
  text-decoration: underline;
}

h1 {
  font-size: x-large;
  font-weight: bold;
}

.wpembed-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5em 1.5em 0;
  width: 100%;
  background: $primary;
}
.wpembed-content {
  font-size: 1.9rem;
  font-family: $tahoma;
  color: $text;
  padding: 2rem;
}

.wpembed-madewith {
  margin-top: auto;
  margin-bottom: 1.5em;
  align-self: center;
}

@media screen and (min-width: 800px) {
  .wpembed-content {
    width: 80%;
    align-self: center;
  }
}

@media screen and (min-width: 1100px) {
  .wpembed-content {
    width: 70%;
    align-self: center;
  }
}

@media screen and (min-width: 1300px) {
  .wpembed-content {
    width: 50%;
    align-self: center;
  }
}
