@import "../../colors/colors.scss";

#navbar {
  overflow: hidden;
  background-color: $secondary;
}

#navbar a {
  float: left;
  display: block;
  color: $primary;
  text-align: center;
  padding: 2px 7px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a.active {
  background-color: $primary;
  color: $secondary;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.info-link {
  margin-top: 10px;
}

.languages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.language {
  cursor: pointer;
}

.language.inactive {
  opacity: 0.5;
  cursor: pointer;
}

.language.active {
  opacity: 1;
}
